[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pillow = "*"
pytest = "*"

[dev-packages]
"flake8" = "*"
yapf = "*"
pylint = "*"

[requires]
python_version = "3.7"
